.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #5bf5c9;
}

.menu-container .buttons {
  background-color: #fcfdfd;
  color: rgb(8, 1, 1);
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
